
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/